body {
    background: #f7f7f7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.photo {
    border: 3px solid #505050;
    border-radius: 50%;
}

#title, .subtitle, .post_title, .post_title_2 {
    color: #505050;
}

#title {
    font-size: 45px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.post_title, .post_title_2 {
    font-size: 18px;
    font-style: italic;
    margin: 0%;
    margin-bottom: 20px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 5px solid #505050;
    border-radius: 15px;
    
    margin-bottom: 20px;
}

.post_content {
    margin: 0%;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: justify;
}

.post_image, .post_image_2 {
    margin-bottom: 20px;
    
}

.contact_list {
    list-style-type: square;
    padding-left: 20px;
    margin-left: 300px ;
}

.contact_list li a {
    text-decoration: none;
    
}

